.stateFilterContainer {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    margin: 10px 10px;
    position: absolute; 
    bottom: 0;
    /* width: fit-content; */
  }

.backgroundFilter{
  background-color: rgba(14, 28, 199, 0.2);
}

/* .chip {
  margin: 1px;
} */