.canvasDimensions{
  width: 100%;
  height: 100%;
  min-height: 400px;
}
.circle {
  box-sizing: border-box;  
  width: 0.8%;             
  margin: 0.1%;            
  border: 1px solid #aaa;
  border-radius: 50%;     
  float: left;             
}
.map-bg{
  background-image: url("/map.jpg");
  background-size: cover;
}
.container {
  padding-top: 75%; /* 4:3 Aspect Ratio */
  background-image: url("/map.jpg");
  background-size: cover;
}