.controls{
    max-width: 200px;
}
.textField{
  margin-left: 1px !important;
  margin-right: 1px !important;
  width: 200px !important;
}
.fab{
  margin: 2px !important;
  font-size: 14px !important;
}
.extendedIcon{
  margin-right: 1px !important;
}