.card {
    border: 2px solid #faf7f0;
    position: relative;
    max-width: 602px;
    transition: 1s;
  }

.media{
    min-height: 250;
    padding-top: 6.25%;
}

.expand{
    transform: rotate(0deg);
    margin-left: auto;
    transition-duration: 200ms;
}

.expandOpen{
    transform: rotate(180deg),
}

.avatar{
    background-color: red;
}

.img-overlay-wrap {
  position: relative;
  display: inline-block; /* <= shrinks container to image size */
  /* transition: transform 150ms ease-in-out; */
}

.img-overlay-wrap img { /* <= optional, for responsiveness */
   display: block;
   max-width: 100%;
   height: auto;
}

#points, filters {
  position: absolute;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
}

/* .img-overlay-wrap:hover {
  transform: rotate( 15deg );
} */

.mapTitle{
  position: absolute;
  color: #000;
  /* border: solid 2px blue; */
  border-radius: 50%;
  padding: 10px;
  /* background-color: #3f51b5; */
  opacity: 0.7;
  margin: 2px 2px;
  font-weight: 700;
  width: 50px;
  height: 50px;
  overflow: hidden;
  /* background-image: url("../../assets/Waiting.svg");
  background-repeat: no-repeat;
  background-position: 25px 17px;
  background-size: 30px; */  

} 

.shadow{
  box-shadow: 3px 3px 5px 5px rgba(44, 130, 201, 0.5) !important;
  /* border: 4px solid  */
  /* width: 105%; */
  /* -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
    -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
    box-shadow:0 0 20px rgba(0,0,0,0.8); */
}